<div>
  <label> What's your twitter handle? </label>
  <input type="text" ng-model="handle">
</div>
<div class="alert" ng-if="handle.length !== charaters" 
  ng-class="{'alert-warning': handle.length > charaters, 'alert-danger': handle.length < charaters}">
  Twitter handle should be only {{ charaters }} characters!
</div>
<!-- ng-show and ng-hide won't remove from dom, but it'll changes 'display' css property to 'none'
if ng-show is not true angular will add ng-hide and vice-versa -->

<!-- <div class="alert alert-warning" ng-show="handle.length !== charaters">
  Twitter handle should be at least {{ charaters }} characters!
</div> -->

<hr>
<h2>www.twitter.com/{{ lowercaseHandle() }}</h2>
<div>
  <h3>Rules!</h3>
  <ul>
    <li ng-repeat="rule in rules">
      {{ rule.RuleName }}
    </li>
  </ul>
  Add new rule: <input type="text" ng-model="newRule">
  <a class="btn btn-success" ng-click="addRule1()"> Add Rule </a>
</div>

<hr>
<h3>Sharing same value between two pages</h3>
<h4>This is first page!</h4>
<label>What do you think in your mind?</label>
<input type="text" ng-model="pageName">

<br>
<br>